{# Dashboard page.
    Styles: /css/twitter/dashboard.css
#}
{% extends 'twitter/navbar.html' %}
{% import 'twitter/post_macros.html' as post_macros %}

{% block page_header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/twitter/dashboard.css') }}">
    {{ post_macros.link_posts_css() }}
{% endblock %}

{% block page_content %}
    {{ post_macros.generate_add_post_form() }}

    <div class="twitter-content-divider"></div>

    <div class="post-container col">
        {% for post in all_posts %}
            {{ post_macros.generate_post(post) }}
        {% endfor %}
    </div>
{% endblock %}
