<!-- Placeholder template. -->
{% extends 'twitter/navbar.html' %}

{% block page_header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/twitter/dashboard.css') }}">
{% endblock %}

{% block page_content %}
    <form action="/posts/create" method='POST'>
        <input type="text" placeholder="What's happening?" name="content">
        <button type="submit">Tweet</button>
    </form>
    <div class="tweet-container">
        {% for post in all_posts %}
            <div>
                {{ post }} - {{ post.content }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
