{# Navigation bar component.
    Styles: /static/twitter/navbar.css
#}
{% extends 'base.html' %}
{% import "twitter/navbar_macros.html" as nav_macros with context %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/twitter/navbar.css') }}">
    {% block page_header %}{% endblock %}
{% endblock %}

{% block content %}
    <header class="col">
        <nav class="col">
            <ul class="nav-list col">
                <li class="nav-item">
                    {{ nav_macros.generate_twitter_bird_link(url_for('twitter.dashboard')) }}
                </li>
                <li class="nav-item">
                    {{ nav_macros.generate_nav_home_link(url_for('twitter.dashboard')) }}
                </li>
                <li class="nav-item">
                    {{ nav_macros.generate_nav_search_link(url_for('twitter.dashboard')) }}
                </li>
                <li class="nav-item">
                    {{ nav_macros.generate_nav_notif_link(url_for('twitter.dashboard')) }}
                </li>
                <li class="nav-item">
                    {{ nav_macros.generate_nav_message_link(url_for('twitter.dashboard')) }}
                </li>
                <li class="nav-item">
                    {{ nav_macros.generate_nav_bookmark_link(url_for('twitter.dashboard')) }}
                </li>
                <li class="nav-item">
                    {{ nav_macros.generate_nav_list_link(url_for('twitter.dashboard')) }}
                </li>
                <li class="nav-item">
                    {{ nav_macros.generate_nav_profile_link(url_for('twitter.view_user', username=g.user.username)) }}
                </li>
                <li class="nav-item">
                    {{ nav_macros.generate_nav_more_link(url_for('twitter.dashboard')) }}
                </li>
            </ul>
            {{ nav_macros.generate_nav_new_post_link(url_for('twitter.dashboard')) }}
        </nav>
        {{ nav_macros.generate_nav_logout_form(url_for('auth.logout'))}}
    </header>
    <div class="page-content-wrapper">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
