{% extends 'base.html' %}
{% import 'twitter/navbar_macros.html' as navbar_macros with context %}
{% import 'twitter/post_macros.html' as post_macros %}

{% block header %}
    {{ navbar_macros.link_navbar_css() }}
    {{ post_macros.link_posts_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/twitter/profile.css') }}">
{% endblock %}

{% block content %}
    {# Include navbar #}
    {{ navbar_macros.generate_navbar() }}



    <div class="page-content-wrapper col">

        {# Sticky header bar #}
        <div class="header">

            {# Back-arrow #}
            <a href="{{ url_for('twitter.dashboard') }}">
                <div class="header-back-arrow blue-background-color-hover center-content circle">
                    <svg viewBox="0 0 24 24"><g><path d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z"></path></g></svg>
                </div>
            </a>

            {# Header info #}
            <div class="header-info">
                <span class="bold profile-header-info-username">{{ user.name }}</span>

                <span class="grey-fill-perma profile-header-info-tweet-number">{{ user.posts|length }} Tweets</span>
            </div>
        </div>

        {# Profile #}
        <div class="profile">

            {# Backgrond photo #}
            <div class="profile-background-photo">
                <a href="#"><img src="{{ url_for('static', filename='img/twitter/profile_background_photo.jpg') }}"></a>
            </div>

            {# Profile picture #}
            <div class="profile-picture">
                <a href="#"><img src="{{ url_for('static', filename='img/twitter/default_profile_large.png') }}"> </a>
            </div>

            {# Profile bio #}
            <div class="profile-bio">

                {# Filler (for profile picture) #}
                <div class="profile-bio-filler">
                    <a href="#" class="bold center-content pill-shape profile-bio-filler-edit-button transparent-bg-link"><span>Edit profile</span></a>
                </div>

                {# User information #}
                <div class="profile-bio-info">

                    {# Name #}
                    <div class="profile-bio-info-name">
                        <span class="bold">{{ user.name }}</span>
                    </div>

                    {# Username #}
                    <div class="profile-bio-info-username">
                        <span class="grey-fill-perma">@{{ user.username }}</span>
                    </div>

                    {# User creation date (TODO: Implement creation date in DB and here) #}
                    <div class="grey-fill-perma profile-bio-info-creation">
                        <div class="profile-bio-info-creation-calendar">
                            <svg viewBox="0 0 24 24"><g><path d="M19.708 2H4.292C3.028 2 2 3.028 2 4.292v15.416C2 20.972 3.028 22 4.292 22h15.416C20.972 22 22 20.972 22 19.708V4.292C22 3.028 20.972 2 19.708 2zm.792 17.708c0 .437-.355.792-.792.792H4.292c-.437 0-.792-.355-.792-.792V6.418c0-.437.354-.79.79-.792h15.42c.436 0 .79.355.79.79V19.71z"></path><circle cx="7.032" cy="8.75" r="1.285"></circle><circle cx="7.032" cy="13.156" r="1.285"></circle><circle cx="16.968" cy="8.75" r="1.285"></circle><circle cx="16.968" cy="13.156" r="1.285"></circle><circle cx="12" cy="8.75" r="1.285"></circle><circle cx="12" cy="13.156" r="1.285"></circle><circle cx="7.032" cy="17.486" r="1.285"></circle><circle cx="12" cy="17.486" r="1.285"></circle></g></svg>
                        </div>
                        <span class="">Joined 01/01/1970</span>
                    </div>

                    {# Relations (following/followers) #}
                    <div class="profile-bio-info-relations">

                        {# Following #}
                        <div class="profile-bio-info-relations-following">
                            <a href="#">
                                <span class="bold profile-bio-info-relations-number">1231</span>
                                <span class="grey-fill-perma">Following</span>
                            </a>
                        </div>

                        {# Followers #}
                        <div class="profile-bio-info-relations-followers">
                            <a href="#">
                                <span class="bold profile-bio-info-relations-number">78345</span>
                                <span class="grey-fill-perma">Followers</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {# Selection bar for tweet feeds #}
            <div class="profile-feed-selector">
                <div class="blue-background-color-hover bold center-content twitter-fill-color-hover profile-feed-selector-button-active">
                    <span class="bold twitter-fill-color-perma">Tweets</span>
                </div>

                <div class="blue-background-color-hover bold center-content twitter-fill-color-hover profile-feed-selector-button">
                    <span class="bold twitter-fill-color-hover">Tweets & replies</span>
                </div>

                <div class="blue-background-color-hover bold center-content  twitter-fill-color-hover profile-feed-selector-button">
                    <span class="bold twitter-fill-color-hover">Media</span>
                </div>

                <div class="blue-background-color-hover bold center-content twitter-fill-color-hover profile-feed-selector-button">
                    <span class="">Likes</span>
                </div>
            </div>
        </div>

        {# Display tweets #}
        <div class="feed col">
            {% for post in all_posts %}
                {{ post_macros.generate_post(post) }}
            {% endfor %}
        </div>

    </div>
{% endblock %}