/* Styles for the unauthorized-user splash page (auth/index.html) */

/*
=============================================================================================
Table of contents:
    1. Global styles.
    2. Helper styles.
=============================================================================================
*/

/*
=============================================================================================
1. Global styles.
=============================================================================================
*/

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 14px;

}

.flex-wrapper {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    /* Default is column, since I'll override this in the media queries at higher widths. */
    flex-direction: column;
    /* TODO: Remove this sanity-test after the pages are built. */
    background-color: pink;
}

.flex-wrapper * {
    display: flex;
}

.page-content-wrapper {
    flex-grow: 1;
    max-width: 600px;
}

/*
=============================================================================================
2. Helper Styles.
=============================================================================================
*/

.blue-background-color-hover:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.center-content {
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.no-outline {
    /* Used to remove outline style on <button> elements. */
    outline: none;
}

.twitter-fill-color-perma {
    color: rgb(29,161,242);
    fill: currentColor;
}

.twitter-fill-color-hover:hover {
    color: rgb(29,161,242);
    fill: currentColor;
}
