/* Styles for the Navbar component. */

/*
=============================================================================================
Table of contents:
    1. Global/Helper styles.
    2. Add Post Form styles.
    3. Post container/Posts styles.
=============================================================================================
*/

/*
=============================================================================================
1. Global/Helper styles.
=============================================================================================
*/

.circle {
    border-radius: 50%;
}

.twitter-text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

.content-divider {
    height: 10px;
    background-color: rgb(247, 249, 250);
}

/*
=============================================================================================
2. Add Post Form styles.
=============================================================================================
*/

.page-content-wrapper {
    border: 1px solid rgb(243, 244, 246);
    flex-direction: column;
}

.add-new-post-container {
    flex-direction: column;
}

.add-new-post-header {
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid rgb(243, 244, 246);
}

.add-new-post-header h2 {
    font-size: 19px;
    font-weight: 800;
}

.stars-container {
    min-height: 37px;
    min-width: 37px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    fill: rgb(29,161,242);
}

.stars-container:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.stars {
    height: 24px;
}

.add-new-post-form-container {
    padding: 10px 15px;
}

.profile {
    width: 49px;
    height: 49px;
    margin-right: 10px;
}

.profile img {
    width: 49px;
    height: 49px;
}

.add-new-post-form {
    flex: 1;
}

.add-new-post-form form {
    flex: 1;
    flex-direction: column;
}
.add-new-post-form input {
    padding: 10px 0;
    font-size: 19px;
    border: none;
    outline: none;
}

.button {
    margin-left: auto;
    min-height: 37px;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    border-radius: 9999px;
    text-decoration: none;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 700;
}

.blue-background {
    background-color: rgb(29, 161, 242);
    color: white;
    border: 1px solid transparent;
}

/*
=============================================================================================
4. Add Post Form styles.
=============================================================================================
*/

.post-container {
    flex-direction: column;

}

.post {
    border: 1px solid rgb(243, 244, 246);
    padding: 15px;
}


.post-profile-container {
    min-height: 80px;
    text-overflow: ellipsis;
}

.post-text-header {
    font-size: 15px;
    max-height: 20px;
}

.post-profile-link {
    align-self: flex-start;
    text-decoration: none;
    align-items: flex-end;
    color: rgb(91, 112, 131);
}

.post-profile-link span:first-child {
    font-weight: 700;
    color: black;
}
.post-profile-link span:first-child:hover {
    text-decoration: underline;
}

.twitter-username {
    font-weight: 400;
    margin-left: 5px;
}

.twitter-username:hover {
    text-decoration: none;
}

.post-time-divider {
    padding: 0 5px;
}

.post-icon-container {
    margin-left: auto;
    width: 34px;
    height: 34px;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}

.post-icon-container:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.post-icon-container svg {
    height: 1.25em;
}

.post-text-container {
    flex-direction: column;
    flex: 1;
}

.post-text-header {
    align-items: center;
}
