/* Styles for the Navbar component. */

/*
=============================================================================================
Table of contents:
    1. Global/Helper styles.
    2. Navbar styles.
=============================================================================================
*/

/*
=============================================================================================
1. Global/Helper styles.
=============================================================================================
*/

.flex-wrapper {
    flex-direction: row;
}

.circle {
    border-radius: 50%;
}

/*
=============================================================================================
2. Navbar styles.
=============================================================================================
*/

#navbar-wrapper {
    min-height: 100%;
    flex-direction: column;
    background-color: white;
    border-right: 1px solid	rgb(243, 244, 246);
    min-width: 68px;
    align-items: center;
    /* Revisit this idea when the main content is put in.
    flex-grow: 1;
    max-width: 200px;
    */
}

#navbar-list {
    margin: 0;
    padding: 0;
    flex-direction:column;
}

#navbar-list li {
    padding: 3px 0;
}

.icon-container {
    min-width: 49px;
    min-height: 49px;
    padding: 2px 0;
    margin: 2px 0;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.icon-container:hover { 
    background-color: rgba(29, 161, 242, 0.1);
    fill: rgb(29,161,242);
}

.twitter-bird {
    color: rgb(29,161,242);
    fill: currentColor;
}

svg {
    flex-grow: 1;
    height: 1.9rem;
}

.new-post-link {
    justify-content: center;
    align-items: center;
    min-height: 49px;
    min-width: 49px;
    margin-top: 15px;
    background-color: rgb(29, 161, 242);
    fill: white;
    transition: background-color 0.2s;
}

.new-post-link:hover {
    background-color: rgb(26, 145, 218);
}

.sign-out {
    min-width: 59px;
    min-height: 59px;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sign-out:hover { 
    background-color: rgba(29, 161, 242, 0.1);
    border-radius: 50%;
    fill: rgb(29,161,242);
}

#profile-img {
    width: 39px;
    height: 39px;
}

.page-content-wrapper {
    flex-grow: 1;
    max-width: 600px;
}