/* Styles for the Navbar component. */

/*
=============================================================================================
Table of contents:
    1. Global/Helper styles.
    2. Navbar styles.
=============================================================================================
*/

/*
=============================================================================================
1. Global/Helper styles.
=============================================================================================
*/

.flex-wrapper {
    flex-direction: row;
}

.circle {
    border-radius: 50%;
}

.twitter-bird {
    color: rgb(29,161,242);
    fill: currentColor;
}

.col {
    flex-direction: column;
}

/*
=============================================================================================
2. Navbar styles.
=============================================================================================
*/

header {
    align-items: center;
    min-height: 100%;
    min-width: 68px;
    background-color: white;
    border-right: 1px solid	rgb(243, 244, 246);
    /* Revisit this idea when the main content is put in.
    flex-grow: 1;
    max-width: 200px;
    */
}

    .nav-icon {
        flex-grow: 1;
        height: 1.9rem;
    }

    #navbar-list {
        flex-direction:column;
        margin: 0;
        padding: 0;
    }

    .navbar-item {
        padding: 5px 0;
    }

        .nav-icon-container {
            justify-content: center;
            align-items: center;
            min-width: 49px;
            min-height: 49px;
            transition: background-color 0.2s;
        }

        .nav-icon-container:hover { 
            background-color: rgba(29, 161, 242, 0.1);
            fill: rgb(29,161,242);
        }

        .nav-add-new-post-link {
            justify-content: center;
            align-items: center;
            min-height: 49px;
            min-width: 49px;
            margin-top: 15px;
            background-color: rgb(29, 161, 242);
            fill: white;
            transition: background-color 0.2s;
        }

        .nav-add-new-post-link:hover {
            background-color: rgb(26, 145, 218);
        }

.sign-out-form {
    min-width: 59px;
    min-height: 59px;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

    .sign-out-form:hover { 
        background-color: rgba(29, 161, 242, 0.1);
        border-radius: 50%;
        fill: rgb(29,161,242);
    }

    .sign-out-button {
        border: none;
        background-color: transparent;
    }

#profile-img {
    width: 39px;
    height: 39px;
}

.page-content-wrapper {
    flex-grow: 1;
    max-width: 600px;
}