/* Styles for the any post related components (/twitter/post_macros.html). */

/*
=============================================================================================
Table of contents:
    1. Global/Override styles.
    2. Add New Post Form styles.
=============================================================================================
*/

/*
=============================================================================================
1. Global/Override styles.
=============================================================================================
*/

/* From: /base.css
    .blue-background-color-hover
    .center-content
    .circle
    .col
    .grey-fill-perma
    .no-border
    .no-outline
    .pill-shape
    .twitter-fill-color-perma
    .twitter-font
*/

/*
=============================================================================================
2. Add New Post Form styles.
=============================================================================================
*/

.add-new-post-form-container {
    padding: 10px 15px;
}

    .post-profile-container {
        margin-right: 10px;
    }

        .post-profile-link {
            width: 49px;
            height: 49px;
        }

            .post-profile-img {
                width: 49px;
                height: 49px;
            }

    .add-new-post-form {
        flex: 1;
    }

        .add-new-post-form-input {
            padding: 13px 0;
            font-size: 19px;
            border-bottom: 1px solid rgb(235, 238, 240);
        }

        .add-new-post-form-helpers-container {
            align-items: center;
            margin-top: 10px;
        }

            .add-new-post-form-helpers-link {
                width: 37px;
                height: 37px;
            }

                .add-new-post-form-helpers-icon {
                    height: 1.5em;
                }

            .add-new-post-form-submit {
                margin-left: auto;
                min-height: 37px;
                padding: 0 15px;
                font-weight: 700;
                font-size: 15px;
                cursor: pointer;
                transition: background-color 0.2s;
            }

            .add-new-post-form-submit:hover {
                background-color: rgb(26, 145, 218);
            }

            .twitter-bg-color {
                background-color: rgb(29, 161, 242);
                color: white;
                border: 1px solid transparent;
            }

/*
=============================================================================================
3. Individual Post styles.
=============================================================================================
*/

.post {
    border-bottom: 1px solid rgb(243, 244, 246);
    padding: 15px;
}

/* Borrowed from #2 above:
    .post-profile-container {
        margin-right: 10px;
    }
    
        .post-profile-link {
            width: 49px;
            height: 49px;
        }

            .post-profile-img {
                width: 49px;
                height: 49px;
            }
*/

    .post-main-container {
        flex: 1;
    }

        .post-header-container {
            font-size: 15px;
            max-height: 20px;
            align-items: center;
        }

            /* .post-header-user-link */
                .post-header-name-display {
                    color: black;
                }

                .post-header-name-display:hover {
                    text-decoration: underline;
                }

                .post-header-username-display {
                    margin-left: 5px;
                }

                .post-header-divider {
                    padding: 0 5px;
                }

            /*.post-header-post-link */
                .post-header-time-display:hover {
                    text-decoration: underline;
                }


            .post-header-dots-link {
                cursor: pointer;
                margin-left: auto;
                width: 34px;
                height: 34px;
            }

                .post-header-dots {
                    height: 1.25em;
                }

        .post-content {
            margin: 0;
        }

        .post-actions-container {
            justify-content: space-between;
            padding-right: 35px;
            margin-top: 10px;
            font-size: 13px;
        }

            .post-actions-link {
                align-items: center;
                text-decoration: none;
                transition: color 0.2s;
            }

            .green-fill-color-hover:hover {
                color:rgb(23, 191, 99);
            }

            .green-background-color-hover:hover {
                background-color: rgba(23, 191, 99, 0.1);
            }

            .red-fill-color-hover:hover {
                color:rgb(224, 36, 94);
            }

            .red-background-color-hover:hover {
                background-color:rgba(224, 36, 94, 0.1);
            }

                .post-actions-icon-container {
                    height: 34px;
                    width: 34px;
                }

                    .post-actions-icon {
                        height: 1.4rem;
                        fill: currentColor;
                    }

                .post-actions-count-display {
                }
