/* Styles for the any post related components (/twitter/post_macros.html). */

/*
=============================================================================================
Table of contents:
    1. Global/Override styles.
    2. Add New Post Form styles.
=============================================================================================
*/

/*
=============================================================================================
1. Global/Override styles.
=============================================================================================
*/

/* From: /base.css
    .blue-background-color-hover
    .center-content
    .circle
    .col
    .no-border
    .no-outline
    .pill-shape
    .twitter-fill-color-perma
    .twitter-font
*/

/*
=============================================================================================
2. Add New Post Form styles.
=============================================================================================
*/

/* .add-new-post-container */
    .add-new-post-header {
        align-items: center;
        padding: 0 15px;
        border-bottom: 1px solid rgb(243, 244, 246);
    }

        .add-new-post-banner {
            font-size: 19px;
            font-weight: 800;
        }

        .add-new-post-stars-link {
            min-height: 37px;
            min-width: 37px;
            margin-left: auto;
        }

            .add-new-post-stars {
                height: 1.5em;
            }

    .add-new-post-form-container {
        padding: 10px 15px;
    }

    .post-profile-container {
        margin-right: 10px;
    }
    
        .post-profile-link {
            width: 49px;
            height: 49px;
        }

            .post-profile-img {
                width: 49px;
                height: 49px;
            }

    .add-new-post-form {
        flex: 1;
    }

        .add-new-post-form-input {
            padding: 13px 0;
            font-size: 19px;
            border-bottom: 1px solid rgb(235, 238, 240);
        }

        .add-new-post-form-submit {
            margin-left: auto;
            min-height: 37px;
            padding: 0 15px;
            margin-top: 10px;
            font-weight: 700;
            font-size: 15px;
        }

        .twitter-bg-color {
            background-color: rgb(29, 161, 242);
            color: white;
            border: 1px solid transparent;
        }
        
/*
=============================================================================================
3. Individual Post styles.
=============================================================================================
*/

.post {
    border-bottom: 1px solid rgb(243, 244, 246);
    padding: 15px;
}

/* Borrowed from #2 above:
    .post-profile-container {
        margin-right: 10px;
    }
    
        .post-profile-link {
            width: 49px;
            height: 49px;
        }

            .post-profile-img {
                width: 49px;
                height: 49px;
            }
*/

    .post-main-container {
        flex: 1;
    }

        .post-header-container {
            font-size: 15px;
            max-height: 20px;
            align-items: center;
        }

            /* .post-header-user-link */
                .post-header-name-display {
                    color: black;
                }

                .post-header-name-display:hover {
                    text-decoration: underline;
                }

                .post-header-username-display {
                    color: rgb(91, 112, 131);
                    font-weight: 400;
                    margin-left: 5px;
                }

                .post-header-divider {
                    padding: 0 5px;
                }

            .post-header-post-link {
                color: rgb(91, 112, 131);
            }

                .post-header-time-display:hover {
                    text-decoration: underline;
                }


            .post-header-dots-link {
                margin-left: auto;
                width: 34px;
                height: 34px;
            }

                .post-header-dots {
                    height: 1.25em;
                }

        .post-content {
            margin: 0;
            font-weight: 400;
        }

        .post-actions-container {
            justify-content: space-between;
            padding-right: 35px;
            margin-top: 10px;
        }

            /* .post-actions-link */
                .post-actions-icon-container {
                    height: 38px;
                    width: 38px;
                }

                    .post-actions-icon {
                        height: 1.5em;
                    }
