/* Styles for the unauthorized-user splash page (/auth/index.html) */

/*
=============================================================================================
Table of contents:
    1. Global/Override styles.
    2. Call-to-action styles.
    3. Splash-banner styles.
    4. Action-buttons styles.
    5. Footer-nav styles.
    6. Media Queries.
=============================================================================================
*/

/*
=============================================================================================
1. Global/Override styles.
=============================================================================================
*/

.flex-wrapper {
    flex-direction: column;
}

.fs-col-wrapper {
    flex-direction: column;
}

/* From: /base.css
    .center-content
    .col
    .pill-shape
    .twitter-fill-color-perma
    .twitter-font
*/

/*
=============================================================================================
2. Call-to-action styles.
=============================================================================================
*/

.call-to-action-container {
    justify-content: center;
    padding: 15px;
    background-color: white;
    z-index: 1;
}

    .call-to-action {
        max-width: 380px;
    }

        .bird-logo {
            align-self: flex-start;
            height: 2.75rem;
        }

    .call-to-action-banner {
        margin-top: 18px;
        font-size: 28px;
    }

    .call-to-action-slogan {
        margin-top: 60px;
        margin-bottom: 15px;
    }

    .action-link {
        min-width: 62px;
        min-height: 37px;
        margin-bottom: 15px;
        padding: 0 15px;
        text-decoration: none;
    }

        .twitter-bg-color {
            background-color: rgb(29, 161, 242);
            color: white;
            border: 1px solid transparent;
        }

        .transparent-bg-color {
            background-color: white;
            color: rgb(29, 161, 242);
            border: 1px solid  rgb(29, 161, 242);
        }

/*
=============================================================================================
3. Splash-banner styles.
=============================================================================================
*/

.splash-banner-container {
    padding: 15px;
    background-color: rgb(122, 204, 254);
    justify-content: center;

    /* Eliminate the overflow of the .background-bird svg. */
    position: relative;
    overflow: hidden;
}

    .background-bird {
        display: inline-block;
        position: absolute;
        height: 60vh;
        top: -10vh;
        right: -10vh;
    }

    .splash-banner {
        z-index: 1;
        padding: 15px 0;
        color: white;
    }

        .splash-bullet-point {
            margin-bottom: 40px;
            align-items: center;
        }

        .splash-bullet-point:nth-child(3) {
            margin: 0;
        }

            .splash-bullet-point-icon {
                height: 1.25em;
                font-size: 24px;
                fill: currentcolor;
            }

            .splash-bullet-point-text {
                margin-left: 15px;
                line-height: 30px;
                font-size: 19px;
            }

/*
=============================================================================================
4. Action button styles.
=============================================================================================
*/

.action-button-container {
    z-index: 1;
    padding: 40px 15px 30px 15px;
    background-color: white;
    justify-content: center;
}

    .action-button-container .action-link {
        /* action-button-container "local" override for max-width. */
        max-width: 180px;
        flex-grow: 1;
        margin: 0 10px;
    }

/*
=============================================================================================
5. Footer-nav styles.
=============================================================================================
*/

.footer-nav {
    z-index: 1;
    background-color: white;
    padding: 10px 15px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

    .footer-nav-link {
        padding-right: 14px;
        font-weight: 400;
        line-height: 18px;
        font-size: 12px;
        color: rgb(91, 112, 131);
        cursor: pointer;
        margin: 5px 0;
        text-decoration: none;
    }

/*
=============================================================================================
6. TODO: Build media queries.
=============================================================================================
*/

@media only screen and (min-width: 800px) {

    .fs-column-wrapper {
        flex-direction: row-reverse;
        flex-grow: 1;
    }

        .call-to-action-container {
            width: 50%;

            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .splash-banner-container {
            width: 50%;
            flex-direction: column;
            align-items: center;
        }

            .background-bird {
                height: 160vh;
                top: -30vh;
                right: -50vh;
            }

        .action-button-container {
            display: none;
        }
}